<div class="w3-row">
  <!-- Defect Ratio heading-->
  <div class="w3-col w3-container w3-green">
      <div ddt-dashboard-header data="dashboardHeaderData"></div>
  </div>
  <!-- Defect Ratio Graph 1-->
  <div class="w3-col l6 w3-container w3-red" style="padding: 0px;">
    <div>
        AAAAA
    </div>
    <div ddt-line-chart style="width:100%;"></div>
  </div>
  <!-- Defect Ratio Graph 1-->
  <div class="w3-col l6 w3-container w3-blue" style="padding: 0px; margin: 10px;">
    <div>
        AAAAA
    </div>
    <div ddt-line-chart></div> 
  </div>
  <!-- Defect Ratio Graph 3-->
  <div class="w3-col w3-container w3-green">
    <h2>w3-half</h2> 
  </div>
</div>